.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
tr {
  /* position: relative; */
}

.row-num {
  font-weight: 600;

  /* display: block;
  background: #3ad669;
  width: 20px;
  height: 48px;
  position: absolute;
  left: -20px;
  margin-top:0px; */
  cursor: pointer;
  /* line-height: 48px; */
  /* text-align: center; */
}
tr.active {
  background: rgba(197, 40, 40, 0.3) !important;
}
tbody {
  counter-reset: row;
}
.card-title {
  float: left;
  font-size: 1.5rem;
}
tbody tr {
  counter-increment: row;
}
.clear-selections {
  background-color: #f10a0a;
  border: 1px solid #d2d2db;
  color: #fff;
  font-weight: 600;
  border-radius: 15px;
  padding: 0px;
  height: 28px;
  align-items: center;
  width: 28px;
  justify-content: center;
  line-height: 0;
  margin-left: 20px;
}
